main
  width: 100%
  min-height: 500px

.main__fraud-row
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  position: relative

.main__fraud-rogue
  width: 200px
  height: 200px
  position: absolute
  top: -100px

.main__fraud-title
  margin-top: 150px
  width: 500px
  text-align: center
  font-weight: 300
  font-size: 18px
  line-height: 28px
  letter-spacing: 0.5px
  margin-bottom: 100px

.main__fraud-decision
  font-size: 30px
  line-height: 40px
  margin: 100px 0
  font-weight: $bold
